{{>header}}
            <p>
                Bienvenido a la pagina promedio estudiante.
            </p>
            <p>el promedio de {{estudiante}} es {{obtenerPromedio nota1 nota2 nota3}}</p>

{{>footer}}