{{>header}}
            <p>
                Bienvenido a la pagina Inicio.
            </p>
            <form action="/crearcurso" method="get">
           
                <button>Crear curso</button>
            </form>
            <form action="/listarcursos" method="get">
           
                <button>listar cursos</button>
            </form>
            <form action="/matriculaCurso" method="get">
           
                <button>matricula curso</button>
            </form>
            <form action="/listarmatriculados" method="get">
           
                <button>lista matricula curso</button>
            </form>



        
        {{!-- para que reconosca html se ponen tres corchetes --}}
{{>footer}}