{{>header}}
         <p>lista de matriculados por curso</p>
          <form action="/listarmatriculados" method="post">
         
                id curso inactivar: <input type="number" name="idCurso">
                <button>inactivar</button>
            </form>

            <h1>{{mensaje}}</h1>
        {{{listar}}} 
        
{{>footer}}