{{>header}}
            <p>
                Bienvenido a la pagina Inicio.
            </p>
            <form action="/matriculaCurso" method="post">
            {{!-- metodo post enviamos por url los parametros este tiene que considir con el app . get o post de la pagina --}}
            {{!-- si lo enviamos por get los datos pasan por url y se usan por el req.query si es por post se instala body parser  --}}
                documento: <input type="text" name="documento" required>
                nombre: <input type="text" name="nombre" required>
                correo: <input type="text" name="correo" required>
                Telefono: <input type="text" name="telefono" required>
                idCurso: <input type="number" name="idCurso" required>
                <button>Guardar</button>
            </form>


        {{{listar}}} 
        {{!-- para que reconosca html se ponen tres corchetes --}}
{{>footer}}